.fkebs { 
  line-height: 1px;
  border-bottom-width: 31px;
  border-top-width: 62px;
  border-left-width: 0px;
  border-top-width: 27px;
  line-height: 6px;
  padding-left: 68px;
  margin-right: 31px;
  padding-left: 68px;
  border-top-width: 15px;
  margin-right: 84px;
  border-top-width: 44px;
  margin-bottom: 25px;
  padding-bottom: 66px;
  margin-left: 48px;
  padding-bottom: 99px;
  padding-bottom: 79px;
  margin-bottom: 73px;
  font-size: 8px;
}
